


.gated-post-form{padding: 32px;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .gated-post-main{gap: 0 80px; padding-bottom: 80px;}
    .gated-post-article{flex: 1; padding-top: 80px;}
    .gated-post-aside{flex: 0 0 369px; margin-top: -128px; flex-direction: column;} 
    .gated-post-article > p > span{font-size: 24px; line-height: 32px; letter-spacing: -0.48px;}
}














