
.general-default-heading::after{content: ""; width: 100%; height: 2px; bottom: 0; left: 0; position: absolute; display: block; opacity: 0.5; background-image: linear-gradient(to right,var(--foreground-light) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-size: 8px 2px; background-repeat: repeat-x;}

.supporting-resource-main{overflow: hidden;}
.supporting-resource{padding: 32px; margin: 64px 0; border-radius: 8px; background-color: #eef4f9;}
.supporting-resource-text{font-size: 20px; font-weight: 800; color: var(--navy); line-height: 1.2; font-family: 'VisbyCF', sans-serif; letter-spacing: normal;}
.supporting-resource-text::before{ width: 100%; height: 2px; top: 0; left: -50%; opacity: .5; transform: rotate(90deg); content: ""; display: block; background-size: 8px 2px; background-image: linear-gradient(to right,var(--navy) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-repeat: repeat-x; position: absolute; } 


body.page-template-default.page-id-237 .what-people-grid .avatar-main{gap: .7rem;}
body.page-template-default.page-id-237 .faqs-desc {font-size: 12px; line-height: 20px; letter-spacing: -0.24px;}
body.page-template-default.page-id-237 .general-default-heading span.optional-text{margin-bottom: 32px; font-size: 16px; line-height: 20px;}

body #ez-toc-container{background: none; padding: 0; border: none; box-shadow: none; width: 100%;} 
body div#ez-toc-container .ez-toc-title{display: block; font-size: 24px; font-weight: 800; color: var(--navy); line-height: 1.33; font-family: VisbyCF,sans-serif; padding: 0 0 12px; border-bottom: solid 1px var(--accent); margin-bottom: 16px;}
body #ez-toc-container span.ez-toc-title-toggle{display: none;}

body #ez-toc-container ul{margin: 0;}
body #ez-toc-container ul li{margin: 0 0 8px;}
body #ez-toc-container ul li::before{display: none;}
body #ez-toc-container ul li a{padding: 8px 12px; display: inline-block; border-radius: 12px; font-size: 16px; font-weight: 800; line-height: 1.25; font-family: 'VisbyCF', sans-serif; color: var(--navy); background-color: transparent; text-decoration: none; border: none; letter-spacing: 0;}
body #ez-toc-container ul li a:hover{background-color: var(--gray-lt); text-decoration: none;} 
body #ez-toc-container ul li a.active, body #ez-toc-container ul li a.mPS2id-clicked, body #ez-toc-container ul li a:visited{background-color: var(--accent-light); color: var(--navy);}
body #ez-toc-container ul ul{margin: 0;}
.supporting-resource-main.no_image{display: block;}
.general-default-main.no_aside{display: block;}

@media screen and (min-width: 1024px){
    .general-default-main{gap: 80px; padding: 80px 0;}
    .general-default-article{flex: 0 0 850px;}
    .general-default-sidebar{flex: 0 0 calc(100% - 930px)}

    .general-default-heading{padding-bottom: 64px; margin-bottom: 64px; font-size: 24px; line-height: 32px; letter-spacing: -0.48px;}

    .supporting-resource-main{gap: 32px;}
    .supporting-resource-icon{flex: 0 0 82px; display: flex;}
    .supporting-resource-icon > figure{display: flex; align-items: center;}
    .supporting-resource-text{flex: 0 0 calc(100% - 114px); padding-left: 32px;}

    .general-default-article .accordion-main{margin: 64px 0;}
    body.page-template-default.page-id-237 .banner-thumb::before{opacity: 0.75; background: linear-gradient(74deg, #091F43 0%, rgba(9, 31, 67, 0.00) 100%);}
    body.page-template-default .short-intro-main{padding: 80px 0;}
    body.page-template-default .short-intro-title{padding-top: 10px;}

    body.page-template-default.page-id-237 .general-default-heading  h2{font-size: 48px; line-height: 56px;}
    body.page-template-default.page-id-237 .general-default-heading  .button{margin-top: 8px;}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .general-default-main{gap: 60px;}
    .general-default-article{flex: 1;}
    .general-default-sidebar{flex: 0 0 334px;}
}

@media screen and (max-width: 1023px) and (min-width: 740px) {
    .general-default-main{padding: 60px 0;}
    .general-default-article{padding-bottom: 51px; margin-bottom: 49px;}
    .general-default-article::before{content: ""; width: 100%; height: 2px; bottom: 0; left: 0; position: absolute; display: block; opacity: 0.5; background-image: linear-gradient(to right,var(--foreground-light) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-size: 8px 2px;}
    .no_aside .general-default-article::before{display: none;}
    .no_aside .general-default-article{margin-bottom: 0;}
    .general-default-heading{padding-bottom: 47px; margin-bottom: 47px;}

    .supporting-resource{padding: 24px; margin: 48px 0;}
    .supporting-resource-icon{margin-bottom: 14px;}
    .supporting-resource-text{padding-top: 28px;}
    .supporting-resource-text::before{left: 0; transform: none;}
    .general-default-article .accordion-main{margin: 40px 0;}

    .general-default-page .faqs-section .accordion-main{margin: 48px 0 38px;}

    .general-default-page .common-content-btn{gap: 15px;}
}

@media screen and (max-width: 739px) and (min-width: 200px) {
    .general-default-main{padding: 40px 0; display: block;}
    .general-default-article{padding-bottom: 51px; margin-bottom: 49px;}
    .general-default-article::before{content: ""; width: 100%; height: 2px; bottom: 0; left: 0; position: absolute; display: block; opacity: 0.5; background-image: linear-gradient(to right,var(--foreground-light) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-size: 8px 2px;}
    .general-default-heading{padding-bottom: 47px; margin-bottom: 47px;}
    
    .supporting-resource{padding: 24px; margin: 48px 0;}
    .supporting-resource-icon{margin-bottom: 14px;}
    .supporting-resource-text{padding-top: 28px;}
    .supporting-resource-text::before{left: 0; transform: none;}
    .general-default-article .accordion-main{margin: 40px 0;}
    .general-default-page .common-content-btn{gap: 15px;}

    body.page-template-default.page-id-237 .featured-projects-thumb img{min-height: 233px;}
    body.page-template-default.page-id-237 .featured-projects-text{padding: 32px 32px 17px;}

    .no_aside .general-default-article:last-child{margin-bottom: 24px;}
}