

.partner-offer-text h2{margin-bottom: 23px;}
.partner-offer-text hr{margin-bottom: 22px;}
.partner-offer-card{background-color: var(--elevated); color: var(--foreground-light);}
.partner-card-text{padding: 32px;}
.partner-card-text h2 a{color: var(--navy);}
.partner-card-text h2 a:hover{color: var(--accent);}
.partner-aside-list{background-color: var(--elevated); padding: 32px;}
.partner-article > p > span{font-size: 24px; line-height: 32px;}
.quote-partner{padding: 57px 0 0; margin-top: 55px;}
.quote-partner::before { opacity: 0.5; content: ""; width: 100%; height: 2px; top: 0; left: 0; position: absolute; display: block; background-image: linear-gradient(to right, var(--foreground-light) 25%,rgba(255, 255, 255, 0) 0); background-position: bottom; background-size: 8px 2px; background-repeat: repeat-x; }
.quote-partner svg{margin-bottom: 26px;}
.quote-partner h3{margin-bottom: 32px;}
.quote-partner p::after{content: "â€";}
.quote-partner .avatar-img{flex: 0 0 64px;}

.partner-content-section{border-bottom: solid 2px var(--gray-lt);}

/*-- media css starts here --*/
@media only screen and (min-width: 1280px){
	.partner-offer-wrap{padding: 80px 0;}
    .partner-offer-main{gap: 120px; padding-bottom: 40px;}
    .partner-offer-text{flex: 1;}
    .partner-offer-card{flex: 0 0 600px;}
	.partner-offer-main.no_partner_text{display: block;}
	.no_partner_text .partner-offer-card{gap: 32px; display: flex; flex: wrap; width: 100%;}
	.no_partner_text .partner-card-thumb{flex: 0 0 455px;}
	.no_partner_text .partner-card-text{flex: 1;}
	.partner-content-main{gap: 80px; padding: 81px 0;}
	.partner-article{flex: 1;}
	.partner-aside{flex: 0 0 350px;}
}
@media only screen and (min-width: 1024px){
	.partner-aside-list{ margin-bottom: 40px;}
	.single-partners .partner-article > p:first-child{margin-bottom: 32px;}
	.single-partners .partner-aside-list p{margin-bottom: 17px;}
	.single-partners .custom-solar-desc h2{font-size: 40px; line-height: 48px;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
	.partner-offer-wrap{padding: 64px 0;}
	.partner-offer-main{gap: 60px; padding-bottom: 40px;}
    .partner-offer-text{flex: 1;}
    .partner-offer-card{flex: 0 0 424px;}
	.partner-content-main{gap: 40px; padding: 64px 0;}
	.partner-article{flex: 1;}
	.partner-aside{flex: 0 0 340px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
	.partner-offer-wrap{padding: 64px 0;}
	.partner-content-main{display: block; padding: 64px 0 64px;}
	.partner-offer-text{padding-bottom: 32px;}
	.partner-offer-main{display: block; padding: 0 0 64px;}
	.partner-article{margin-bottom: 32px;}
	.partner-aside{gap: 32px; display: flex; flex-wrap: wrap;}
	.partner-aside-list{flex: 0 0 calc(50% - 16px);}
}
@media screen and (max-width: 739px) and (min-width: 200px){
	.partner-offer-wrap{padding: 40px 0;}
	.partner-offer-main{display: block; padding: 0 0 32px;}
	.partner-offer-text{padding-bottom: 7px;}
	.partner-offer-text h2{font-size: 24px; line-height: 32px;}

	.partner-content-main{display: block; padding: 40px 0 40px;}
	.partner-article{margin-bottom: 32px;}
	.partner-aside-list{margin-bottom: 39px;}
	.partner-aside-btn .button{width: 100%;}

	body.single-partners .partner-card-text  h2{font-size: 24px; line-height: 32px; margin-bottom: 18px;}
	body.single-partners .partner-card-text  .line-clamp{margin-bottom: 0;}
	body.single-partners .partner-aside-list h2{font-size: 24px; line-height: 32px;}
}










