


.partner-grids-text{padding-top: 33px;}
.partner-grids-text h2{margin-bottom: 23px;}
.partner-grids-text hr{margin-bottom: 23px;}


/* media css starts here */
@media screen and (min-width: 1300px){
    .partner-grids-main{gap: 80px; padding: 80px 0;}
    .partner-grids-list{flex: 0 0 calc(50% - 40px);}
}
@media screen and (min-width: 1024px){
    body.page-template-partners .short-intro-head span.optional-text{margin-bottom: 17px;}
   
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .partner-grids-main{gap: 40px; padding: 64px 0;}
    .partner-grids-list{flex: 0 0 calc(50% - 20px);}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .partner-grids-main{gap: 64px 32px; padding: 64px 0;}
    .partner-grids-list{flex: 0 0 calc(50% - 16px);}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .partner-grids-main{padding: 40px 0; display: block;}
    .partner-grids-list:not(:last-child){margin-bottom: 40px;}

    body.page-template-partners .frm_form_field_wrapper, body.page-template-partner-installer-join .frm_form_field_wrapper{display: block;}
    body.page-template-partners .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_checkbox label, body.page-template-partner-installer-join .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_checkbox label{font-size: 15px; line-height: 1.47;}
    body.page-template-partners .frm_forms .frm_form_fields .frm_form_field_wrapper .frm_form_field.vertical_radio .frm_checkbox input, body.page-template-partner-installer-join .frm_forms .frm_form_fields .frm_form_field_wrapper .frm_form_field.vertical_radio .frm_checkbox input{top: 2px;}
    body.page-template-partners .frm_forms .frm_form_fields .frm_form_field_wrapper .frm_submit, body.page-template-partner-installer-join .frm_forms .frm_form_fields .frm_form_field_wrapper .frm_submit{padding-top: 16px;}

    body.page-template-partners .banner-text p{margin: 0;}
    body.page-template-partners .short-intro-title{padding-bottom: 7px;}
    body.page-template-partners .partner-logos-head h2{margin-bottom: 35px;}
}















