


.partner-grids-text{padding-top: 33px;}
.partner-grids-text h2{margin-bottom: 23px;}
.partner-grids-text hr{margin-bottom: 23px;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .partner-grids-main{gap: 80px; padding: 80px 0;}
    .partner-grids-list{flex: 0 0 calc(50% - 40px);}
    
    .partner-image img{border: solid 4px var(--accent); border-radius: 50%; max-width: 72px;}
}


















