
.no_map .project-detail-text{max-width: 100%; flex: 1;}
.project-detail-text{font-size: 1.25rem; line-height: 1.75rem; color: var(--foreground);}
.project-detail-text h1{margin-bottom: 30px;}
.detail-map{background-image: url("./images/map-marker.svg"); background-repeat: no-repeat; background-position: center; background-size: contain;}


ul.detail-categorys{margin: 0 0 31px; gap: 8px;}
ul.detail-categorys li::before{display: none;}
ul.detail-categorys li{margin: 0; display: block;}
ul.detail-categorys li a{padding: 6px 7px; gap: 6px; min-height: 28px; align-items: center; background-color: var(--white); color: var(--foreground); border-radius: 4px; font-size: 0.75rem; line-height: 0.75rem; font-weight: 800; font-family: "VisbyCF", sans-serif; letter-spacing: 0;}
ul.detail-categorys li a:hover{opacity: 0.8;}
ul.detail-categorys li a span{top: 0px; position: relative; color: var(--foreground-light);}
ul.detail-categorys li a.solar{background-color: var(--accent-light-yellow); font-size: 0.875rem; line-height: 0.875rem;}
ul.detail-categorys li a.solar span{color: var(--accent-yellow); top: 0;}
ul.detail-categorys li a.residential{background-color: var(--accent-light); font-size: 0.875rem; line-height: 0.875rem;}
ul.detail-categorys li a:hover{background-color: var(--navy); color: var(--white);}
ul.detail-categorys li a.battery-storage{background-color: var(--accent-light); color: var(--foreground-dark);}
ul.detail-categorys li a.battery-storage span{color: var(--accent);}
ul.detail-categorys li a.ev-charging{background-color: #C4F4FF; color: #0D445D;}
ul.detail-categorys li a.ev-charging span{color: #02B5DC;}
ul.detail-categorys li a.heating{background-color: #FFD8A6; color: #5E3808;}
ul.detail-categorys li a.heating span{color: #F8971D;}

ul.detail-categorys li.no_link:not(a){ padding: 6px 7px; gap: 4px; min-height: 28px; display: flex; align-items: center; align-items: center; background-color: var(--white); color: var(--foreground); border-radius: 4px; font-size: 0.75rem; line-height: 0.75rem; font-weight: 800; font-family: VisbyCF,sans-serif; letter-spacing: 0; }
ul.detail-categorys li.no_link:not(a) span{top: -1px; position: relative;}
ul.detail-categorys li.residential:not(a){background-color: var(--accent-light);}

.stats-image-row{padding-top: 32px;}
.stats-image-row::before{width: 1000vw; height: calc(100% - 80px); top: 0; left: -200%; background-color: var(--elevated); content: ""; position: absolute; z-index: -1;}
.project-detail-article p span{padding-bottom: 8px; font-size: 1.5rem; line-height: 2rem; letter-spacing: -0.48px; display: block;}
.project-detail-article ul li::before{background-color: var(--accent); top: 9px; left: -20px; width: 8px; height: 8px;}
.project-detail-article h3:not(.quote-partner h3, .solar-assessment-text h3){padding: 32px 0 12px;}
.solar-assessment-wrap{padding-top: 56px; margin-top: 56px;}
.solar-assessment-wrap::before{ opacity: 0.5; content: ""; width: 100%; height: 2px; top: 0; left: 0; background-size: 8px 2px; position: absolute; display: block; background-image: linear-gradient(to right,var(--foreground-light) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-repeat: repeat-x; }
.solar-assessment-main{padding: 40px; border-radius: 8px; background-color: var(--accent-light-yellow);}
.solar-assessment-main.no_icon{display: block;}
.solar-assessment-icon svg, .solar-assessment-icon img{max-width: 82px;}
.solar-assessment-text{overflow: hidden;}
.solar-assessment-text::before{ content: ""; width: 100%; height: 2px; top: 0; left: 0; position: absolute; display: block; background-size: 8px 2px; background-image: linear-gradient(to right,var(--accent-yellow) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-repeat: repeat-x; }
.solar-assessment-text h3{margin-bottom: 23px;}
.solar-assessment-btns{gap: 12px;}
.project-detail-article h2::after{margin: 31px 0 0; height: 4px; width: 96px; background-color: var(--accent); border-radius: 2px; display: block; border: none; content: "";}

/*-- media css starts here --*/
@media only screen and (min-width: 740px){
    .solar-assessment-main{gap: 32px;}
    .solar-assessment-icon{flex: 0 0 82px;}
    .solar-assessment-text{flex: 1; padding-left: 32px;}
    .solar-assessment-text::before{ transform: rotate(90deg); left: -50%; } 
}
@media only screen and (min-width: 1024px){
    .project-detail-article{padding: 80px 0 80px;}
    body.single-project .project-detail-article{padding-top: 0;}
    .project-detail-text{font-size: 1.5rem; line-height: 2rem; letter-spacing: -0.48px;}
    .project-detail-image{position: absolute; z-index: 0;}

    body.single-project .stats-main{padding-bottom: 51px;}
    .stats-main{padding: 0 0 82px;}
    .stats-image-row{gap: 32px; margin-bottom: 24px;}
    .stats-image-left{flex: 0 0 448px; gap: 32px; flex-direction: column;}
    .stats-image-fit{height: calc(50% - 16px);}
    .stats-image-right{flex: 0 0 calc(100% - 480px);}
    .stats-image-right .stats-image-fit{height: 100%;}
    .stats-image-right figure{height: 100%;}

    .masonary-main{padding: 80px 0; column-gap: 32px; column-count: 2;}
    .masonary-list{padding-bottom: 32px; counter-increment: brick-counter; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }
    .masonary-list:nth-child(1){height: 640px;}
    .masonary-list:nth-child(3) img{max-height: 416px; min-height: 416px; overflow: hidden;}
    .masonary-list:nth-child(4) img{max-height: 608px;}
}
@media only screen and (min-width: 1400px){
    .project-detail-main{gap: 64px; padding-bottom: 86px; min-height: 472px; flex-wrap: nowrap; flex-direction: row-reverse;} 
    .project-detail-text{max-width: 615px; padding: 81px 0 0;}
    .project-detail-image { top: -180px; left: 630px; min-width: 728px; max-width: 728px; min-height: 618px; height: 100%; }
    .project-detail-thumb img{object-fit: contain;}
    .detail-map{width: 34px; height: 52px;}
    .detail-map[data-name="British Columbia"]{ bottom: 182px; left: 64px; }
    .detail-map[data-name="Alberta"]{ bottom: 165px; left: 145px; }
    .detail-map[data-name="Saskatchewan"]{ bottom: 146px; left: 218px; }
    .detail-map[data-name="Manitoba"]{ bottom: 145px; left: 285px; }
    .detail-map[data-name="Ontario"]{ bottom: 122px; left: 384px;}
    .detail-map[data-name="Quebec"]{ bottom: 160px; left: 500px; }
    .detail-map[data-name="Newfoundland and Labrador"]{ bottom: 200px; left: 660px; }
    .detail-map[data-name="New Brunswick"]{ bottom: 138px; left: 588px; }
    .detail-map[data-name="Prince Edward Island"]{ bottom: 148px; left: 619px; }
    .detail-map[data-name="Nova Scotia"]{ bottom: 93px; left: 619px; }
}
@media only screen and (max-width: 1399px) and (min-width: 1200px){
    .project-detail-main{gap: 64px; padding-bottom: 86px; min-height: 472px; flex-wrap: nowrap; flex-direction: row-reverse;} 
    .project-detail-text{max-width: 500px; padding: 81px 0 0;}
    .project-detail-image { top: -150px; left: 518px; min-width: 680px; max-width: 680px; min-height: 618px; height: 100%; }
    .project-detail-thumb img{object-fit: contain;}
    .detail-map{width: 28px; height: 46px;}
    .detail-map[data-name="British Columbia"]{ bottom: 195px; left: 64px; }
    .detail-map[data-name="Alberta"]{ bottom: 175px; left: 137px; }
    .detail-map[data-name="Saskatchewan"]{ bottom: 160px; left: 205px; }
    .detail-map[data-name="Manitoba"]{ bottom: 154px; left: 267px; }
    .detail-map[data-name="Ontario"]{ bottom: 136px; left: 359px;}
    .detail-map[data-name="Quebec"]{ bottom: 168px; left: 455px; }
    .detail-map[data-name="Newfoundland and Labrador"]{ bottom: 206px; left: 620px; }
    .detail-map[data-name="New Brunswick"]{ bottom: 138px; left: 551px; }
    .detail-map[data-name="Prince Edward Island"]{ bottom: 160px; left: 575px; }
    .detail-map[data-name="Nova Scotia"]{ bottom: 132px; left: 572px; }
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .project-detail-article{padding: 20px 0 80px;}
    .project-detail-main{padding-bottom: 32px;}
    .project-detail-ipad{max-width: 460px; padding: 80px 0 64px; min-height: 345px;}
    .stats-image-left{flex: 0 0 320px;}
    .stats-image-right{flex: 0 0 calc(100% - 352px);}
    .project-detail-image { top: -210px; left: 450px; min-width: 564px; max-width: 564px; min-height: 618px; height: 100%; }
    .project-detail-thumb img{object-fit: contain;}
    .detail-map{width: 24px; height: 46px;}
    .detail-map[data-name="British Columbia"]{ bottom: 214px; left: 50px; }
    .detail-map[data-name="Alberta"]{ bottom: 195px; left: 111px; }
    .detail-map[data-name="Saskatchewan"]{ bottom: 178px; left: 167px; }
    .detail-map[data-name="Manitoba"]{ bottom: 169px; left: 218px; }
    .detail-map[data-name="Ontario"]{ bottom: 160px; left: 298px;}
    .detail-map[data-name="Quebec"]{ bottom: 190px; left: 372px; }
    .detail-map[data-name="Newfoundland and Labrador"]{ bottom: 224px; left: 509px; }
    .detail-map[data-name="New Brunswick"]{ bottom: 172px; left: 455px; }
    .detail-map[data-name="Prince Edward Island"]{ bottom: 179px; left: 473px; }
    .detail-map[data-name="Nova Scotia"]{ bottom: 145px; left: 468px; }
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .project-detail-main{padding: 0 0 20px;}
    .project-detail-ipad{padding: 0 0 40px;}
    .project-detail-text h1{margin-bottom: 23px; font-size: 2.5rem; line-height: 3rem;}

    .project-detail-image {margin: -160px 0 -40px auto; min-width: 660px; max-width: 660px; min-height: 618px; height: 100%; position: relative; }
    .detail-map{width: 24px; height: 46px;}
    .detail-map[data-name="British Columbia"]{ bottom: 234px; left: 60px; }
    .detail-map[data-name="Alberta"] { bottom: 216px; left: 135px; }
    .detail-map[data-name="Saskatchewan"] { bottom: 203px; left: 200px; }
    .detail-map[data-name="Manitoba"] { bottom: 200px; left: 261px; }
    .detail-map[data-name="Ontario"]{ bottom: 170px; left: 352px;}
    .detail-map[data-name="Quebec"]{ bottom: 209px; left: 432px; }
    .detail-map[data-name="Newfoundland and Labrador"]{ bottom: 246px; left: 600px; }
    .detail-map[data-name="New Brunswick"]{ bottom: 182px; left: 535px; }
    .detail-map[data-name="Prince Edward Island"]{ bottom: 194px; left: 555px; }
    .detail-map[data-name="Nova Scotia"]{ bottom: 154px; left: 552px; }


    .project-detail-article{padding: 64px 0;}
    .stats-image-row{gap: 32px;}
    .stats-image-left{gap: 32px;}
    .stats-image-left > *{flex: 0 0 calc(50% - 16px);}
    .stats-image-fit img{min-height: 165px;}

    .masonary-main{padding: 80px 0 48px; column-gap: 32px; column-count: 2;}
    .masonary-list { padding-bottom: 32px; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; counter-increment: brick-counter; } 
    .masonary-list:nth-child(4) img{max-height: 323px;}

    ul.detail-categorys{margin: 0;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .masonary-main{padding: 0 0 20px;}
    .masonary-list{margin-bottom: 20px;}

    .project-detail-main{display: block; padding: 0 0 50px;}
    .project-detail-image { position: relative; max-width: 390px; min-width: 390px; margin-left: auto; margin-top: -95px; left: -10px; }
    .detail-map{width: 19px; height: 26px;}
    .detail-map[data-name="British Columbia"]{ bottom: 95px; left: 34px; }
    .detail-map[data-name="Alberta"]{ bottom: 85px; left: 77px; }
    .detail-map[data-name="Saskatchewan"]{ bottom: 70px; left: 118px; }
    .detail-map[data-name="Manitoba"]{ bottom: 80px; left: 152px; }
    .detail-map[data-name="Ontario"]{ bottom: 59px; left: 206px;}
    .detail-map[data-name="Quebec"]{ bottom: 79px; left: 256px; }
    .detail-map[data-name="Newfoundland and Labrador"]{ bottom: 104px; left: 353px; }
    .detail-map[data-name="New Brunswick"]{ bottom: 58px; left: 320px; }
    .detail-map[data-name="Prince Edward Island"]{ bottom: 62px; left: 328px; }
    .detail-map[data-name="Nova Scotia"]{ bottom: 53px; left: 335px; }
    

    .project-detail-text{padding: 21px 0 0;}
    .project-detail-text h1{margin-bottom: 23px;}


    .stats-image-row{gap: 20px;}
    .stats-image-left{gap: 20px;}
    .stats-image-left > *{flex: 0 0 calc(50% - 10px);}
    .stats-image-fit figure img{min-height: 165px;}

    .project-detail-article{padding: 82px 0 40px;}
    .project-detail-article h2{font-size: 2.5rem; line-height: 3rem;}
    .quote-partner { padding: 41px 0 36px; margin-top: 40px; }
    .quote-partner h3{font-size: 1.5rem; line-height: 2rem;}

    .solar-assessment-wrap{padding: 38px 0 0; margin-top: 39px; }
    .solar-assessment-main{padding: 24px;}
    .solar-assessment-icon.object-fit-img{margin-bottom: 12px;}
    .solar-assessment-text::before{margin-bottom: 24px; position: static;}
    .solar-assessment-text h3{font-size: 2.5rem; line-height: 3rem;}

    body.page-template-projects .short-intro-title span.optional-text{margin-bottom: 15px;}
    body.page-template-projects .short-intro-title .button{margin-top: -20px;}

    ul.detail-categorys li:nth-child(3){clear: both;}
    ul.detail-categorys li:nth-child(3) a{display: inline-flex; width: auto;}
}














