
.subscribe-main{padding: 40px 0;}
.subscribe-text h2{margin-bottom: 0;}
.subscribe-form{position: relative;}
.subscribe-field input{padding: 24px 200px 24px 19px; border-radius: 24px; background-color: var(--white); font-size: 16px; line-height: 20px; font-weight: 800; letter-spacing: 0; color: var(--foreground); border: none;} 
.subscribe_submit{ top: 14px; right: 14px; position: absolute;}
.subscribe-form p{margin-top: 8px; text-align: center; opacity: 0.75;}

.news-landing-post{background-color:  var(--elevated);}
.news-landing-text{padding: 20px 32px 32px; color: var(--foreground-light);}

.resources-wrap{padding: 80px 0;}
.card-main{background-color: var(--elevated); color: var(--foreground-light);}
ul.res-categories{margin: 0; top: -13px; z-index: 1;}
ul.res-categories li{margin: 0;}
ul.res-categories li::before{display: none;}
ul.res-categories li a{padding: 3px 8px 1px; border-radius: 4px; font-size: 14px; line-height: 20px; background-color: var(--accent-light); display: block; font-weight: 800; font-family: 'VisbyCF', sans-serif;}
.card-text{padding: 32px; position: relative;}
.card-text .h4 a{color: var(--navy);}
.card-text .h4 a:hover{color: var(--accent);}
.load-more-btn{margin-top: 40px;}
.load-more-btn .button::after{top: calc(50% + 2px); content: "\f107"; font-size: 16px;}

.news-post-text h2{margin-bottom: 0;}
.news-post-text h2 a{color: var(--navy);}
.news-post-text h2 a:hover{color: var(--accent);}



/* media css starts here */
@media screen and (min-width: 1024px){
    .subscribe-main{gap: 0 48px;}
    .subscribe-left{gap: 24px; flex: 0 0 calc(50% - 24px);}
    .subscribe-icon{width: 80px;}
    .subscribe-text{flex: 1;}
    .subscribe-right{flex: 0 0 calc(50% - 24px);}
    .news-landing-main{gap: 56px; padding: 80px 0;}
    .news-landing-post{flex: 0 0 612px;}
    .news-small-post{flex: 1;}
    .news-post-list{gap: 20px; margin-bottom: 20px;}
    .news-post-thumb{flex: 0 0 104px;}
    .news-post-text{flex: 1;}
    .card-row-of-3{gap: 40px;}
    .card1-of-3{flex: 0 0 calc(33.33333% - 27px);}
    .card-row-of-4{gap: 40px;}
    .card1-of-4{flex: 0 0 calc(25% - 30px);}
}











