

.blockquote-main{padding: 80px 0; height: 100%; text-align: center;}
.blockquote-overlay{z-index: 0; opacity: 0.8;}
.blockquote-text-icon::before, .blockquote-text-icon::after{width: 24px; height: 24px; background-size: contain; background-repeat: no-repeat; background-position: center; content: ""; display: block;}
.blockquote-text-icon::before{background-image: url("./images/quote-icon-left.svg");}
.blockquote-text-icon::after{background-image: url("./images/quote-icon-right.svg");}
.quote-avatar-main{gap: 13px; padding-top: 30px;}
.quote-avatar-img{flex: 0 0 64px;}
.quote-avatar-img img{border: 4px solid rgba(113, 163, 65, 0.50);}
.quote-avatar-text{text-align: left; color: var(--white-50);}
.quote-avatar-text span{color: var(--white);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .blockquote-section{min-height: 600px;}
    .blockquote-main{min-height: 600px;}
    body.page-template-testimonials .blockquote-main{padding: 146px 0 140px;}
    .blockquote-text-icon{padding: 0 4rem;}
}
@media only screen and (min-width: 740px){
    .blockquote-bg{ background-image: url('images/parallax-bg@2x.jpg'); }
    .blockquote-text-icon::before, .blockquote-text-icon::after{ transform: translateY(-50%); top: calc(50% - 17px); position: absolute; }
    .blockquote-text-icon::before{left: 0; }
    .blockquote-text-icon::after{right: 0; }
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .blockquote-text-icon{padding: 0 48px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .blockquote-main{padding: 69px 0 64px; display: block;}
    .blockquote-bg{ background-image: url('images/parallax-bg-mobile-1@2x.jpg'); }
    .blockquote-text h2{font-size: 24px; line-height: 32px;}
    .blockquote-text-icon::before, .blockquote-text-icon::after{position: static; margin-left: auto; margin-right: auto;}
    .blockquote-text-icon::before{margin-bottom: 33px;}
    .blockquote-text-icon::after{margin-top: 32px;}
    .quote-avatar-main{padding-top: 37px;}
}