



.about-partners-wrap{padding: 79px 0 80px;}
ul.about-partners-tabs{margin: 0; border-bottom: 1px solid #000; display: inline-flex; width: auto;}
ul.about-partners-tabs li{margin: 0;}
ul.about-partners-tabs li::before{display: none;}
ul.about-partners-tabs li a{padding: 0 16px 5px; color: var(--foreground-light); display: block; font-size: 20px; line-height: 24px; font-weight: 800; font-family: "VisbyCF", sans-serif; position: relative;}
ul.about-partners-tabs li a::after{width: 0%; height: 4px; bottom: -1px; left: 0; background-color: var(--green); content: ""; display: block; position: absolute; transition: width 0.5s ease;} 
ul.about-partners-tabs li a.active::after{width: 100%;}
ul.about-partners-tabs li a.active, ul.about-partners-tabs li a:hover{color: var(--navy);}
.about-partner-logo{border: 1px solid var(--gray-md);}

.partners-tab-content{display: none;}
.partners-tab-content:first-child{display: block;}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .about-partners-head{flex: 1; padding-bottom: 24px;}
    .about-partners-main{order: 3; flex: 0 0 100%;}
    .about-partner-logos{gap: 24px; padding-top: 39px;}
    .about-partner-logo{max-width: calc(20% - 20px);}
    .about-partner-thumb{ padding: 16px 40px;}
    .about-partner-thumb img{max-width: 156px; max-height: 87px; margin: 0 auto; display: block;}
    .about-partner-logos.slick-slider .slick-slide{margin-right: 23px; width: 237px;} 
    .about-partner-logos.slick-slider .about-partner-logo{max-width: 100%;}
    .about-partner-logos.slick-slider div.slick-arrow{right: auto; top: -48px;}
    .about-partner-logos.slick-slider div.slick-arrow.slick-next{left: 1232px;}
    .about-partner-logos.slick-slider div.slick-arrow.slick-prev{left: 1174px;}
}










