
.banner-section{background-color: var(--navy);}
.banner-text span.optional-text{margin-bottom: 32px;}
.banner-text h1{margin-bottom: 29px;}
.banner-text p:not(:last-child){margin-bottom: 33px;} 
.banner-btns{gap: 16px;}
picture.banner-thumb img{object-position: top center;}
.home-banner-iframe { width: 100%; height: 100%; overflow: hidden; z-index: 0;}
.home-banner-iframe iframe{ height: 100%; width: 100%; margin: 0;}
.banner-main{position: relative; z-index: 1;}

/* media css starts here */
@media only screen and (min-width: 1024px){
    body.home .banner-section{min-height: 872px;}
    body.home .banner-main{min-height: 872px;}
    body.home .banner-text{padding-top: 60px;}
    .banner-section{min-height: 720px;}
    .banner-thumb::before{width: 100%; height: 100%; top: 0; left: 0; content: ""; position: absolute; background-image: linear-gradient(59deg, #091f43 0%, rgba(9, 31, 67, 0) 100%); }
    body.page-template-why-aecon .banner-thumb::before{opacity: 0.75;}
    .banner-main{min-height: 720px; display: flex; flex-wrap: wrap; align-items: center;}
    .banner-text{padding: 100px 0 67px; max-width: 600px;}
    body.page-template-careers .banner-text{padding: 72px 0 67px;}
    body.single-post .banner-section{min-height: 570px;}
    body.single-post .banner-main{min-height: 570px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    body.single-post .banner-text{padding-bottom: 82px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .poster-bg{position: relative;}
    .banner-bg{position: relative;}
    .home-banner-iframe{display: none;}
    .banner-main{margin-top: -124px; background-image: linear-gradient(to bottom, rgba(9, 31, 67, 0.00) 0%, #091F43 90px);}
    .banner-text{padding: 32px 0 40px;}
    .banner-text span.optional-text { margin-bottom: 25px; }
}
@media screen and (max-width: 739px) and (min-width: 200px){
    .poster-bg{position: relative; min-height: 260px;}
    .poster-bg img{min-height: 260px;}
    .home-banner-iframe{display: none;}
    .banner-bg{position: relative; min-height: 260px;}
    .banner-bg img{min-height: 260px;}
    .banner-main{margin-top: -88px; background-image: linear-gradient(to bottom, rgba(9, 31, 67, 0.00) 0%, #091F43 90px);}
    body.home .banner-text{padding-top: 10px;}
    body.page-template-esg-sustainability .banner-text{padding-top: 10px;}
    .banner-text{padding: 16px 0 40px;}
    .banner-text span.optional-text { margin-bottom: 25px; }
    .banner-text h1 { margin-bottom: 23px; }
    .banner-text hr{margin-bottom: 24px;}
    body.page-template-esg-sustainability .banner-text p{margin-bottom: 0;} 
    .banner-text p:not(:last-child){margin-bottom: 26px;}
}