
.banner-text span.optional-text{margin-bottom: 32px;}
.banner-text h1{margin-bottom: 29px;}
.banner-text p{margin-bottom: 33px;} 
.banner-btns{gap: 16px;}
picture.banner-thumb img{object-position: top center;}
.video-banner-iframe {
	width: 100vw;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
}
.video-banner-iframe iframe {
	top: 0;
	height: 100%;
	width: 100%;
	min-width: 1800px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .banner-section{min-height: 720px;}
    .banner-thumb::before{width: 100%; height: 100%; top: 0; left: 0; content: ""; position: absolute; background-image: linear-gradient(59deg, #091f43 0%, rgba(9, 31, 67, 0) 100%); }
    .banner-main{min-height: 720px; display: flex; flex-wrap: wrap; align-items: center;}
    .banner-text{padding: 100px 0 67px; max-width: 600px;}
    .gated-post-banner{min-height: 570px;}
    .gated-post-banner .banner-main{min-height: 570px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .banner-bg{position: relative;}
    .banner-main{margin-top: -124px; background-image: linear-gradient(to bottom, rgba(9, 31, 67, 0.00) 0%, #091F43 90px);}
    .banner-text{padding: 32px 0 20px;}
    .banner-text span.optional-text { margin-bottom: 25px; }
}
@media screen and (max-width: 739px) and (min-width: 200px){
    .banner-bg{position: relative;}
    .banner-main{margin-top: -88px; background-image: linear-gradient(to bottom, rgba(9, 31, 67, 0.00) 0%, #091F43 90px);}
    .banner-text{padding: 16px 0 10px;}
    .banner-text span.optional-text { margin-bottom: 25px; }
    .banner-text h1 { margin-bottom: 23px; }
    .banner-text hr{margin-bottom: 24px;}
}