

.best-partners-text{padding: 0 48px 16px 32px; color: var(--foreground-light);}

/* media css starts here */
@media screen and (min-width: 1024px){
    .best-partners-main{padding: 81px 0 80px;}
    .best-partners-heading{flex: 1; order: 1; padding-right: 100px;}
    .best-partners-heading span{margin-bottom: 8px;}
    .best-partners-btn{order: 2; padding-top: 79px;}
    .best-partners-row{order: 3; padding-top: 80px; align-items: flex-end;}
    body.page-template-default.page-id-237 .best-partners-row{padding-top: 33px;}
    .best-partners-list{flex: 0 0 25%; flex-direction: column-reverse;}
    .best-text-btn{opacity: 0; padding: 18px 0 16px; transition: all 0.5s ease;}
    .best-partners-thumb img{filter: grayscale(100%); transition: all 0.5s ease;}
    .best-partners-list:hover .best-partners-thumb img{filter: grayscale(0%);}
    .best-partners-list:hover .best-text-btn{opacity: 1;}
    .best-partners-text{transform: translateY(48px); transition: transform 0.4s ease;}
    .best-partners-text p{margin-bottom: 0;}
    .best-partners-list:hover .best-partners-text{transform: translateY(0);}
    .best-partners-image{position: relative; z-index: 1;}
    .best-partners-list::before{width: 1px; height: calc(100% - 48px); left: 0; bottom: 0; content: ""; background-color: var(--foreground-light); position: absolute; z-index: 2; transition: all 0.5s ease;}
    .best-partners-list:hover::before{height: 100%; background-color: var(--accent);}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .best-partners-text .clamp-3{-webkit-line-clamp: 2;}
}
@media screen and (max-width: 1023px) and (min-width: 740px) {
    .best-partners-main{padding: 64px 0;}
    .best-partners-heading{flex: 0 0 441px; margin-right: auto;}
    .best-partners-heading span.optional-text{margin-bottom: 8px;}
    .best-partners-heading h2{margin-bottom: 46px;}
    .best-partners-list{border-top: 1px solid var(--foreground-light);}
    .best-partners-list:last-child{border-bottom: 1px solid var(--foreground-light);}
    .best-partners-image{flex: 0 0 332px;}
    .best-partners-text{flex: 0 0 calc(100% - 332px); padding: 32px 24px 24px; font-size: 14px; line-height: 20px; letter-spacing: -0.28px;}
    .best-partners-text .h5{line-height: 24px;}
    .line-clamp{margin-bottom: 15px;}
    .best-partners-btn{order: 2; padding-top: 100px;}
    .best-partners-row{order: 3;}
}
@media screen and (max-width: 739px) and (min-width: 200px) {
    .best-partners-main{padding: 40px 0; display: block;}
    .best-partners-heading span.optional-text{font-size: 16px; line-height: 20px; margin-bottom: 17px;}
    .best-partners-heading h2{font-size: 24px; line-height: 32px;}
    .best-partners-list{margin-bottom: 32px;}
    .best-partners-text{padding: 22px 0 0; font-size: 18px; line-height: 28px; letter-spacing: -0.36px;}
    .best-partners-text .h5{line-height: 24px; margin-bottom: 15px;}
    .line-clamp{margin-bottom: 17px;}
    body.category-resources .news-landing-text  .line-clamp{margin-bottom: 0;}
    .best-partners-btn .button{width: 100%;}
}





















