
.brand-messaging-section{background-color: var(--navy);}
.brand-messaging-bg{background-image: url('./images/people-communities-bg@2x.jpg'); background-attachment: inherit;}
.brand-messaging-main{padding: 80px 0; height: 100%; text-align: center;}
.brand-messaging-overlay{z-index: 0; opacity: 0.5;}
.brand-messaging-desc{font-size: 18px; line-height: 22px; letter-spacing: 0; font-weight: 800; font-family: "VisbyCF", sans-serif;}
.brand_quote{font-size: 24px; line-height: 32px; margin-bottom: 1.75rem;}
span.brand_name{display: block; margin-bottom: 0.5rem;}
span.brand_position{display: block;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .brand-messaging-section{min-height: 600px;}
    .brand-messaging-main{min-height: 600px; padding: 140px 0 104px;}
    .brand-messaging-main h2{font-size: 70px; line-height: 80px;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .brand-messaging-text{max-width: 863px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .brand-messaging-main{min-height: 600px;}
    .brand-messaging-main h2{font-size: 56px; line-height: 64px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .brand-messaging-bg{background-image: url('./images/people-communities-bg-mobile@2x.jpg');}
    .brand-messaging-main{min-height: 600px;}
    .brand-messaging-main h2{font-size: 40px; line-height: 48px;}
    .brand-messaging-desc{font-size: 16px; line-height: 20px;}
    .brand_quote{font-size: 20px; line-height: 26px;}
}





















