
.common-content-main.no_image{display: block;}
.common-content-btn{gap: 16px;}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .common-content-section .container{max-width: 1440px; padding: 0;}
    .common-content-main.no_company_text{padding: 0 80px;}
    .common-content-main{gap: 104px;}
    .common-content-text{flex: 1; padding-left: 40px; max-width: 712px; margin-left: auto;}
    .common-content-image{flex: 0 0 560px;}    
    .common-content-image img{min-height: 560px;}
    .common-content-reverse .common-content-main{flex-direction: row-reverse;}
    .common-content-reverse .common-content-text{margin-right: auto; margin-left: 0; padding-right: 40px; padding-left: 0;}

    body.page-template-about .common-content-text{line-height: 28px;}
    body.page-template-solution-landing .common-content-text{color: var(--foreground);}
    body.page-template-solution-landing .common-content-text h2{max-width: 400px;}

    .no_image .common-content-text { padding: 80px 40px; margin: 0 auto; max-width: 1360px; }
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .common-content-main{gap: 64px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px) {
    .common-content-section .container{padding: 0;}
    .common-content-text{flex: 0 0 50%; padding: 64px 40px 64px 40px;}
    .common-content-image{flex: 0 0 50%;}
    .common-content-image img {min-height: 540px;}
}
@media screen and (max-width: 739px) and (min-width: 200px) {
    .common-content-section .container{padding: 0;}
    .common-content-main{flex-direction: column-reverse;}
    .common-content-text{padding: 40px 20px;}
    body.page-template-careers .common-content-text h2{margin-bottom: 23px;}
}