




/* media css starts here */
@media only screen and (min-width: 1024px){
    .common-content-main{gap: 104px;}
    .common-content-text{flex: 1;}
    .common-content-image{flex: 0 0 560px;}    

}