




/* media css starts here */
@media only screen and (min-width: 1024px){
    .common-content-section:not(.common-content-reverse){margin-right: -70px;}
    .common-content-main{gap: 104px;}
    .common-content-text{flex: 1;}
    .common-content-image{flex: 0 0 560px;}    
    .common-content-reverse .common-content-main{flex-direction: row-reverse;}

    body.page-template-solution-landing .common-content-text{color: var(--foreground);}
    body.page-template-solution-landing .common-content-text h2{max-width: 400px;}
}