
.custom-solar-section{background-color: var(--elevated); color: var(--foreground-light);}
.custom-solar-section.white{background-color: var(--white);}
.custom-solar-btns{flex-direction: column; gap: 16px;}
.custom-solar-btns .button{width: fit-content;} 

.bar-solar{ overflow: hidden; z-index: 2; }
.bar{background-color: var(--green);}


.sun-solar{ border-radius: 50%; overflow: hidden;}
.sun{width: 100%; height: 32px; background-color: var(--orange);}
.sun-1{opacity: 0.2;}
.sun-2{opacity: 0.4;}
.sun-3{opacity: 0.6;}
.sun-4{opacity: 0.8;}

.battery-solar{overflow: hidden;}
.battery{width: 100%; height: 58px; background-color: var(--green);}
.battery-1{opacity: 0.2; border-radius: 6px 6px 0 0;}
.battery-2{opacity: 0.4;}
.battery-3{opacity: 0.6;}
.battery-4{opacity: 0.8;}
.battery-5{border-radius: 0 0 6px 6px;}



/* media css starts here */
@media screen and (min-width: 1024px) {
    .custom-solar-text{flex: 0 0 50%;}
    .custom-solar-image{flex: 0 0 50%;}
    .custom-solar-desc{max-width: 512px;}
    .custom-solar-desc h2{margin-bottom: 35px;}
    .bar-solar{width: 125px; height: 250px; left: 1px; bottom: -63px; transform: translateY(-50%); clip-path: polygon(100% 50%, 0 0, 0 100%);}
    .bar{width: 25px; height: 250px;}
    .bar-5{opacity: 0.2;}
    .bar-4{opacity: 0.4;}
    .bar-3{opacity: 0.6;}
    .bar-2{opacity: 0.8;}
    .sun-solar{width: 160px; height: 160px; left: -80px; top: 50%; transform: translateY(-50%);}
    .battery-solar{width: 128px; height: 290px; left: -80px; top: 50%; transform: translateY(-50%);}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .sun-solar{width: 120px; height: 120px; left: -60px;}
    .custom-solar-text{flex: 0 0 50%; padding: 83px 80px 82px 40px;}
    .custom-solar-image{flex: 0 0 50%;}
    .custom-solar-desc h2{margin-bottom: 31px; font-size: 32px; line-height: 40px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .custom-solar-text{flex: 0 0 50%; padding: 83px 50px 82px 40px;}
    .custom-solar-image{flex: 0 0 50%;}
    .custom-solar-desc{max-width: 512px; font-size: 14px; line-height: 20px; letter-spacing: -0.28px;}
    .custom-solar-desc h2{margin-bottom: 31px; font-size: 24px; line-height: 32px;}
    .sun-solar { width: 90px; height: 90px; left: -42px; top: 50%; transform: translateY(-50%);}
    .sun{height: 18px;}

    .battery-solar { width: 90px; height: 90px; left: -42px; top: 50%; transform: translateY(-50%);}
    .battery{height: 18px;}
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .bar-solar { width: 192px; height: 96px; left: 1px; bottom: 0; clip-path: polygon(50% 0%,0% 100%,100% 100%); display: block; }
    .bar { width: 192px; height: 19px; }
    .bar-1{opacity: 0.2;}
    .bar-2{opacity: 0.4;}
    .bar-3{opacity: 0.6;}
    .bar-4{opacity: 0.8;}
}
@media screen and (max-width: 739px) and (min-width: 200px){

    .custom-solar-main{flex-direction: column-reverse;}
    .custom-solar-text{display: block;}
    .custom-solar-desc{padding: 40px 24px 48px;}
    .custom-solar-desc h3{font-size: 32px; line-height: 40px; margin-bottom: 23px;}
    .custom-solar-desc p{font-size: 18px; letter-spacing: -0.36px; line-height: 28px;}
    .custom-solar-desc hr{margin: 0 0 30px;}

    .common-repeat-image{ padding-bottom: 29px;}
    .bar-solar { width: 145px; height: 72px; }
    .bar { width: 145px; height: 15px; }

    .sun-solar{width: 120px; height: 120px; right: 24px; bottom: -48px;}
    .sun{height: 24px;}

    .battery-solar{width: 96px; height: 215px; right: 24px; bottom: -48px;}
    .battery{height: 43px;}
}