


.explore-icon{width: 64px; height: 64px; border: 1px solid;}
.solar .explore-icon{border-color: #FFBF0D;}
.ev-charging .explore-icon{border-color: #02B5DC;}
.ev-heating .explore-icon{border-color: #F8971D;}
.battery-storage .explore-icon{border-color: #71A341;}
.explore-slider-text{display: none;}
.explore-slider-text:first-child{display: block;}


/* media css starts here */
@media screen and (min-width: 740px){
    .explore-slider-desc{color: var(--white);}
    .explore-slider-desc h2{color: var(--white); font-size: 3rem; line-height: 3.5rem; margin-bottom: 21px;}
    .explore-icons-list h2{ transition: all 0.5s ease;}
    .explore-icons-list.solar.active h2, .explore-icons-list.solar:hover h2{color: var(--foreground-dark);}
    .explore-icons-list.ev-charging.active h2, .explore-icons-list.ev-charging:hover h2{color: #02b5dc;}
    .explore-icons-list.ev-heating.active h2, .explore-icons-list.ev-heating:hover h2{color: #f8971d;}
    .explore-icons-list.battery-storage.active h2, .explore-icons-list.battery-storage:hover h2{color: #71a341;}
    
    .explore-slider-btn { max-width: 166px; overflow: hidden; transition-property: all; transition-timing-function: ease; transition-duration: 0.4s; display: inline-block; }
    .active .explore-slider-btn{ animation-name: expandWidth; animation-delay: 0s; -webkit-animation-duration: 3s; animation-duration: 3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    @keyframes expandWidth { to { max-width: 100%; } }
    .explore-slider-btn .button{white-space: nowrap;}
    .solar .button{color: var(--foreground-dark);}
    .solar .button::after{color: #ffbf0d;}
    .solar .button:hover{background-color: var(--foreground-dark);}
    .ev-charging .button{color: #02b5dc;}
    .ev-charging .button::after{color: #02b5dc;}
    .ev-charging .button:hover{background-color: #02b5dc;}
    .heating-cooling .button:hover{background-color: var(--foreground-dark);}
    .battery-storage .button{color: #71a341;}
    .battery-storage .button::after{color: #71a341;}
    .battery-storage .button:hover{background-color: #71a341;}
    .battery-storage .button:hover::after{color: var(--white);}
    .ev-heating .button{color: #f8971d}
    .ev-heating .button::after{color: #ffbf0d;}
}
@media screen and (min-width: 1024px){
    .explore-slider-section{min-height: 760px;}
    .explore-slider-overlay{opacity: 0.5; background-image: linear-gradient(62deg, #091F43 0%, rgba(9, 31, 67, 0.00) 69.23%);}
    .explore-slider-image{display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: -2;}
    .explore-slider-image:first-child{display: block;}
    .explore-slider-image img{min-height: 760px; overflow: hidden;}
    
    .explore-icons-lists{top: 50%; transform: translateY(-50%); right: 0; max-width: 300px; }
    .explore-icons-list{margin: 1rem 0; width: calc(100% + 32px); gap: 20px; padding: 12px; min-height: 88px; transition: all 0.5s ease; background: rgba(9, 31, 67, 0.85); color: var(--white); cursor: pointer; backdrop-filter: blur(4px); border-radius: 16px 0px 0px 16px; }
    .explore-icons-list.no_icon{padding-left: 32px;}
    .explore-icons-list:hover, .explore-icons-list.active{transform: translateX(-32px); background-color: var(--white);}
    .explore-icons-list h2{color: var(--white); flex: 1; margin: 0;}
    
    .explore-slider-main{min-height: 760px; height: 100%;}
    .explore-slider-desc{max-width: 520px; padding: 80px 0 73px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .explore-slider-section{min-height: 760px;}
    .explore-slider-overlay{opacity: 0.5; background-image: linear-gradient(62deg, #091F43 0%, rgba(9, 31, 67, 0.00) 69.23%);}
    .explore-slider-image{display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: -2;}
    .explore-slider-image:first-child{display: block;}
    .explore-slider-image img{min-height: 800px; overflow: hidden;}
    
    .explore-icons-lists{top: 32px; right: 0; max-width: 280px;}
    .explore-icons-list{margin: 0.5rem 0 0.5rem auto; gap: 20px; padding: 12px; max-width: 88px; min-height: 88px; transition: all 0.5s ease; background: rgba(9, 31, 67, 0.85); color: var(--white); cursor: pointer; backdrop-filter: blur(4px); border-radius: 16px 0px 0px 16px; flex-wrap: nowrap;}
    .explore-icons-list.no_icon{padding-left: 32px;}
    .explore-icons-list:hover, .explore-icons-list.active{max-width: 100%; background-color: var(--white);}
    .explore-icons-list:hover h2, .explore-icons-list.active h2{color: var(--foreground-dark);}
    .explore-icons-list h2{color: var(--white); flex: 1; margin: 0; white-space: nowrap;}
    .explore-icon{flex: 0 0 64px;}
    
    .explore-slider-main{min-height: 800px; height: 100%;}
    .explore-slider-desc{padding: 80px 0 40px;}
}
@media screen and (max-width: 739px) and (min-width: 200px){
    .explore-slider-wrap{position: relative;}
    .explore-slider-image{display: none; position: static;}
    .explore-slider-image:first-child{display: block;}
    .explore-slider-thumb img{min-height: 390px;}
    .explore-icons-lists{left: 0; bottom: 0; gap: 10px; overflow: hidden; justify-content: center; display: flex; flex-wrap: wrap;}
    .explore-icons-list{flex: 0 0 calc(25% - 8px); padding: 8px; top: 8px; max-width: 80px; min-height: 88px; align-items: flex-start; transition: all 0.5s ease; background: rgba(9, 31, 67, 0.85); color: var(--white); cursor: pointer; backdrop-filter: blur(4px); border-radius: 16px 16px 0px 0px; position: relative;}
    .explore-icons-list.active{background-color: var(--white); top: 0;}
    .explore-icons-list h2{display: none;}
    .explore-slider-desc{padding: 20px 0 40px; font-size: 1rem; line-height: 1.5rem; letter-spacing: -0.32px;}
    .explore-slider-desc h2{font-size: 3rem; line-height: 3.5rem; margin-bottom: 24px;}
    .solar .explore-slider-desc h2{color: #64511C;}
    .solar .button{background-color: #FFECB7;}
    .solar .button::after{color: #FFBF0D;}
    .solar .button:hover{background-color: var(--navy);}
    .solar .button:hover::after{color: var(--white);}

    .ev-charging .explore-slider-desc h2{color: #02b5dc;}
    .ev-charging .button{background-color: #02b5dc; color: var(--white);}
    .ev-charging .button::after{color: #078caa;}
    .ev-charging .button:hover{background-color: var(--navy);}
    .ev-charging .button:hover::after{color: var(--white);}

    .ev-heating .explore-slider-desc h2{color: var(--accent-yellow);}
    .ev-heating .button{background-color: var(--accent-yellow);}
    .ev-heating .button::after{color: var(--orange);}
    .ev-heating .button:hover{background-color: var(--navy);}
    .ev-heating .button:hover::after{color: var(--white);}

    .battery-storage .explore-slider-desc h2{color: var(--accent);}
    .battery-storage .button{background-color: var(--accent-light);}
    .battery-storage .button::after{color: var(--accent);}
    .battery-storage .button:hover{background-color: var(--navy);}
    .battery-storage .button:hover::after{color: var(--white);}

}
















