


.faqs-main{padding: 82px 0 81px;}
.faqs-title{padding-bottom: 10px;}
ul.faq-tabs{margin: 0 0 39px;}
ul.faq-tabs li{margin: 0;}
ul.faq-tabs li::before{display: none;}
ul.faq-tabs li a{padding: 0 17px 10px; border-bottom: 1px solid var(--foreground-light); color: var(--foreground-light); display: block; font-size: 20px; line-height: 24px; font-weight: 800; font-family: "VisbyCF", sans-serif;}
ul.faq-tabs li a::after{width: 0%; height: 4px; bottom: -1px; left: 0; background-color: var(--accent); content: ''; display: block; position: absolute; transition: all 0.5s ease;}
ul.faq-tabs li a.active::after{width: 100%;}
ul.faq-tabs li a.active{color: var(--navy);}

.accordion-list.white{background-color: var(--white);}
.accordion-list{margin-bottom: 22px; border: solid 1px var(--gray-md); border-radius: 4px;}
.accordion-list:last-child{margin-bottom: 0;}
.accordion-header{padding: 19px 66px 17px 22px; color: var(--navy); font-size: 16px; line-height: 20px; letter-spacing: 0; cursor: pointer; position: relative; font-weight: 800; font-family: "VisbyCF", sans-serif;}
.accordion-header span.fa-plus{right: 25px; top: 50%; transform: translateY(-50%); width: 24px; height: 24px; border-radius: 12px; background-color: var(--accent-light); position: absolute; transition: all 0.45s ease; font-size: 16px; line-height: 20px; color: var(--accent-dark); display: flex; align-items: center; justify-content: center;}
.accordion-header.open span.fa-plus::before{content: "\f068";}
.accordion-content{display: none; padding: 2px 25px 30px;}
.accordion-content ul li::before{width: 6px; height: 6px; top: 7px;}
.accordion-content ol li::before{top: 2px;}
.accordion-list.active{box-shadow: 0px 8px 20px 0px rgba(106, 118, 130, 0.50);}

.faqs-desc{padding-top: 54px; max-width: 880px;}























