

.featured-projects-section{background-color: var(--elevated);}
.featured-projects-left{background-color: var(--white);}




/* media css starts here */
@media only screen and (min-width: 1024px){
    .featured-projects-row{gap: 40px;}
    .featured-projects-left{flex: 0 0 calc(50% - 20px);}
    .featured-projects-right{flex: 0 0 calc(50% - 20px);}

}













