
.featured-full-post ul.cat-links{position: static;}
ul.cat-links{margin: 0;}
ul.cat-links li{margin: 0;}
ul.cat-links li::before{display: none;}
ul.cat-links li{padding: 7px 8px 5px; display: inline-flex; border-radius: 4px; font-size: 14px; line-height: 20px; font-weight: 800; font-family: "VisbyCF", sans-serif; color: var(--accent-dark); background-color: var(--accent-light);}
ul.cat-links li a{color: inherit;}
/* ul.cat-links li a:hover{background-color: var(--accent); color: var(--white);} */
.featured-projects-left{background-color: var(--white);}
.featured-projects-text{padding: 32px 32px 34px; color: var(--foreground-light);}
.featured-projects-text h2{margin-bottom: 18px;}
.featured-projects-text h2 a{color: var(--navy);}
.featured-projects-text h2 a:hover{color: var(--accent);}
.featured-post-text{padding: 32px; color: var(--foreground-light);}
.featured-post-text h2 a{color: var(--navy);}
.featured-post-text h2 a:hover{color: var(--accent);}


.project-repeater-last .load-more-btn{margin-top: 0; padding-bottom: 80px;}


/* media css starts here */
@media only screen and (min-width: 1280px){
    ul.cat-links{top: -13px; position: absolute;}
    .featured-projects-text ul.post-cat-btns{top: -13px; position: absolute;}
    .featured-post-text ul.post-cat-btns{top: -13px; position: absolute;}
    body.home .featured-projects-main{padding-bottom: 80px;}
    body.page-id-237 .featured-projects-main{padding-bottom: 80px;}
    .featured-projects-main{padding: 81px 0 120px;}
    .featured-projects-row{gap: 40px; align-items: flex-start;}
    .featured-projects-left{flex: 0 0 calc(50% - 20px); transform: translateY(40px);}
    .featured-projects-right{flex: 0 0 calc(50% - 20px); gap: 40px;}
    .featured-projects-post{flex: 0 0 calc(50% - 20px);}
    .featured-post-btn{padding-top: 46px;}
    .featured-projects-post:nth-child(n+3){flex: 0 0 100%; align-items: center; display: flex; flex-wrap: wrap; flex-direction: row-reverse;}
    .featured-projects-post:nth-child(n+3) .featured-post-image{flex: 0 0 310px;}
    .featured-projects-post:nth-child(n+3) .featured-post-text{flex: 1;}
    .featured-projects-post:nth-child(n+3) .featured-post-text ul.cat-links{margin-bottom: 23px;}
    .featured-projects-post:nth-child(n+3) .featured-post-text ul.post-cat-btns{position: static; margin-bottom: 20px;}

    div.featured-full-post.right-image{flex-direction: row-reverse;}
    .featured-full-post{flex: 0 0 calc(100% - 10px); margin-bottom: 15px; margin-left: auto; align-items: center; display: flex; flex-wrap: wrap; flex-direction: row-reverse;}
    .featured-full-post:nth-child(odd){flex-direction: row;}
    .featured-full-post .featured-post-image{flex: 0 0 305px; height: 100%;}
    .featured-full-post .featured-post-text{flex: 1;}
    .featured-full-post .featured-post-text ul.cat-links{margin-bottom: 23px;}
    .featured-full-post figure{height: 100%;}

    .featured-projects-thumb img{max-height: 420px; min-height: 420px; overflow: hidden;}
}
@media screen and (min-width: 1024px){
    body.page-template-projects .featured-projects-main{padding: 81px 0 96px;}
    .featured-projects-main h2{margin-bottom: 20px;}
    .featured-post-image{width: 100%;}
    .featured-post-image figure img{min-height: 194px; max-height: 194px; overflow: hidden;} 
    body.page-template-projects .featured-post-image figure img{min-height: 306px; max-height: 306px; overflow: hidden;} 
    .featured-projects-post:last-child .featured-post-image img{max-height: 100%;}
    .featured-full-post .featured-post-image img{max-height: 100%;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .featured-projects-main{padding: 64px 0 64px;}
    .featured-projects-row{gap: 32px; align-items: flex-start;}
    .featured-projects-left{flex: 0 0 calc(50% - 16px); transform: translateY(40px);}
    .featured-projects-thumb img{max-height: 224px; min-height: 224px; overflow: hidden;} 
    .featured-projects-text h2{font-size: 32px; line-height: 40px;}
    .featured-projects-right{flex: 0 0 calc(50% - 16px);}
    .featured-projects-post{margin-bottom: 2rem; align-items: center;}
    .featured-projects-post:last-child{display: none;}
    .featured-post-image{flex: 0 0 50%; height: 100%;}
    .featured-post-image figure{height: 100%;}
    .featured-post-text{flex: 1; padding: 24px;}
    .featured-post-text ul.cat-links{margin-bottom: 1.5rem;}
    .featured-post-text h2{font-size: 18px; line-height: 22px;}
    .featured-post-text .clamp-3{-webkit-line-clamp: 2;}
    .featured-full-post{margin-bottom: 2rem; align-items: center;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
    .featured-projects-main{padding: 64px 0 64px;}
    .featured-projects-row{display: block;}
    .featured-projects-left{margin-bottom: 2rem;}
    .featured-projects-thumb img{max-height: 420px; min-height: 420px; overflow: hidden;} 
    .featured-projects-text h2{font-size: 32px; line-height: 40px;}
    .featured-projects-right{flex: 0 0 calc(50% - 16px);}
    .featured-projects-post{margin-bottom: 2rem; align-items: center;}
    .featured-projects-post:last-child{display: none;}
    .featured-post-image{flex: 0 0 50%; height: 100%;}
    .featured-post-image figure{height: 100%;}
    .featured-post-image figure img{min-height: 332px; max-height: 332px; overflow: hidden;}
    .featured-post-text{flex: 1; padding: 24px;}
    .featured-post-text ul.cat-links{margin-bottom: 1.5rem;}
    .featured-post-text .clamp-3{-webkit-line-clamp: 2;}
    .featured-post-btn{text-align: right;}
    .featured-full-post{margin-bottom: 2rem; align-items: center;}
    ul.cat-links{top: -13px; position: absolute;}
}
@media screen and (max-width: 739px) and (min-width: 200px){
    .featured-projects-main{padding: 40px 0 40px;}
    .featured-projects-row{display: block;}
    .featured-projects-left{margin-bottom: 2rem;}
    .featured-projects-text{font-size: 18px; line-height: 26px; letter-spacing: -0.36px;}
    .featured-projects-text ul.post-cat-btns{top: -13px; position: absolute;}
    .featured-projects-text h2{font-size: 24px; line-height: 32px;}
    .featured-projects-right{flex: 0 0 calc(50% - 16px);}
    .featured-projects-post{margin-bottom: 2rem; align-items: center; background-color: transparent;}
    .featured-projects-post:last-child{display: none;}
    .featured-post-image{flex: 0 0 104px; height: 100%;}
    .featured-post-image figure{height: 100%;}
    .featured-post-image figure img{min-height: 104px; max-height: 104px; overflow: hidden;}
    .featured-post-text{flex: 1; padding: 0 24px;}  
    .featured-post-text ul.cat-links{margin-bottom: 1rem;}
    .featured-post-text h2{ -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }
    .featured-post-text .line-clamp{display: none;}
    .featured-post-btn .button{width: 100%;}
    .featured-full-post{margin-bottom: 2rem; align-items: center; background-color: transparent;}
    ul.cat-links{top: -13px; position: absolute;}
    
}











