




.our-locations-list{color: var(--foreground-light);}
ul.our-locations-links{margin: 0; flex-direction: column;}
ul.our-locations-links li{margin: 0;}
ul.our-locations-links li::before{display: none;}
ul.our-locations-links li a{}





/* media css starts here */
@media screen and (min-width: 1024px){
    .our-locations-list{flex: 0 0 25%;}
}









