
ul.our-approach-links{margin: 0;}
ul.our-approach-links li{margin: 0 0 20px;}
ul.our-approach-links li::before{display: none;}
ul.our-approach-links li a{padding: 13px 20px; background-color: var(--white); display: block;}


.our-approach-desc{padding: 64px 86px; color: var(--foreground);}

/*-- media css starts here --*/
@media only screen and (min-width: 1300px){
    .our-approach-main {gap: 0 80px; flex-wrap: nowrap;}
    .our-approach-text{flex: 0 0 560px;}
    .our-approach-image{flex: 1; min-width: 720px;}
}



















