


.partner-form-main{padding: 80px 0;}
.bg-elevated .partner-form-text{color: var(--foreground);}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .partner-form-main{gap: 120px;}
    .partner-form-text{flex: 0 0 352px;}
    .become-partner-form{flex: 1;}
}























