

.process-slider-text{font-size: 14px; line-height: 20px; letter-spacing: -0.28px; color: var(--foreground-light);}
span.process-step{margin-bottom: 8px; color: var(--foreground-light); display: block; font-size: 16px; line-height: 20px; letter-spacing: 0; font-weight: 800; font-family: "VisbyCF", sans-serif;}
.process-slider-text h2{margin-bottom: 20px;}


/* media css starts here */
@media screen and (min-width: 740px){
    .slick-dots-wrap{bottom: 64px; left: 0; right: 0; position: absolute;}
    .process-slider-for{z-index: -1;}
    .process-slider-thumb img{min-height: 760px; max-height: 760px;}
    div.process-slider-pos{bottom: 0; left: 0; position: absolute; z-index: 2;}
    .process-slider-content{display: none; background-color: var(--white);}
    .slick-current .process-slider-content{flex: 1; max-width: 792px; display: flex;}
    .slick-current .process-num{opacity: 0; width: 0;}
    .process-num{width: 104px; height: 104px; margin: 0; color: var(--white); background: rgba(9, 31, 67, 0.75); backdrop-filter: blur(4px); cursor: pointer;}
    .process-slider-desc{flex: 1; padding: 32px;}
    .p-slick-arrow{flex: 0 0 35px; height: 104px; font-size: 20px; line-height: 20px; cursor: pointer;}
    .p-slick-next{background-color: var(--green); color: var(--white);}
    .p-slick-prev{background-color: var(--elevated);}

}
@media screen and (max-width: 739px) and (min-width: 200px){
    .process-slider-section{padding-bottom: 40px;}
    .process-slider-text{padding: 24px 0 24px;}
    .process-slider-thumb img{min-height: 300px;}
    .process-slider-nav ul.slick-dots{padding-top: 13px;}
    .process-slider-nav ul.slick-dots li{background-color: var(--elevated);}
    .process-slider-nav ul.slick-dots li::before{width: 100%; height: 100%; background-color: var(--navy);}
}