
.process-slider-text{font-size: 14px; line-height: 20px; letter-spacing: 0.28px; color: var(--foreground-light);}
span.process-step{font-size: 16px; line-height: 20px; font-family: "VisbyCF", sans-serif;}















@media screen and (max-width: 739px) and (min-width: 200px){
}