

.timeline-title{padding-bottom: 37px;}
.timeline-slider{flex-wrap: nowrap;}
.timeline-slider .slick-track::before { width: 100%; height: 2px; top: 0; left: 19px; background-color: var(--accent); display: block; position: absolute; z-index: 1; }
.timeline-slider .slick-list{overflow: inherit;}

.timeline-ring{left: 0; top: -19px; width: 40px; height: 40px; z-index: 1;}
.timeline-ring .ring:not(.t-ring-1){animation: 6s tRingZoom infinite linear;}
@keyframes tRingZoom { 
    0% { transform: translateX(-50%) scale(1); opacity: 0.2; } 
    100% { transform: translateX(-50%) scale(2.5); opacity: 0; } 
}
.t-ring-1 { width: 15px; height: 15px; left: 50%; transform: translateX(-50%); background-color: var(--white); border: 2px solid var(--accent); z-index: -1; }
.t-ring-2{opacity: 0.3; animation-delay: 2s; width: 24px; height: 24px; left: 50%; transform: translateX(-50%); background-color: var(--accent); z-index: -2;}
.t-ring-3{opacity: 0.2; animation-delay: 4s; width: 32px; height: 32px; left: 50%; transform: translateX(-50%); background-color: var(--accent); z-index: -3;}
.t-ring-4{opacity: 0.1; animation-delay: 6s; width: 40px; height: 40px; left: 50%; transform: translateX(-50%); background-color: var(--accent); z-index: -4;}

.timeline-desc{padding: 41px 23px 17px; margin-left: 19px; color: var(--foreground); position: relative;}
.timeline-desc::before{width: 2px; height: calc(100% + 30px); top: 0; left: 0; background-color: var(--accent); content: ""; display: block; position: absolute;}
.timeline-desc::after{width: 10px; height: 10px; bottom: -30px; left: -4px; position: absolute; background-color: var(--accent); border-radius: 50%; content: ""; display: block;}
.timeline-desc p{margin-bottom: 0;}
.timeline-image img{filter: grayscale(100%); max-height: 221px; overflow: hidden;}
.slick-active .timeline-image img{filter: grayscale(0);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .timeline-main{padding: 80px 0 80px;}
    .timeline-slider .timeline-slide{min-width: 332px; width: 332px; margin-right: 47px;}
    .timeline-slider div.slick-arrow{top: -115px; right: 0; position: absolute;}
    .timeline-slider div.slick-arrow.slick-prev{right: 58px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .timeline-main{padding: 62px 0 64px;}
    .timeline-slider .timeline-slide{min-width: 296px; width: 296px; margin-right: 24px;}
    .timeline-desc{min-height: 200px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .timeline-main{padding: 41px 0 56px;}
    .timeline-slider .timeline-slide{min-width: 296px; width: 296px; margin-right: 24px;}
    .timeline-desc{min-height: 200px; padding: 45px 50px 17px 23px;}
    .timeline-desc h4{font-size: 24px; line-height: 32px;}
    .timeline-slider ul.slick-dots{margin-top: 34px; padding: 0 3.5rem; min-height: 40px; top: 12px; position: relative;}
}
@media only screen and (max-width: 389px) and (min-width: 200px){
    .timeline-desc{padding: 45px 23px 17px 23px;}
}











