:root {
    --dark-blue: #091F43;
    --dark-green: #3B4E31;
    --light-green: #71A341;
    --white: #FFFFFF;
    --black: #000;
    --black-md: #343536;
    --gray: #6A7682;
    --gray-md: #E4EBEF;
    --gray-lt: #EEF4F9;
    --aecon-red: #da1a32;
}