:root {
    --dark-green: #3B4E31;
    --accent: #71A341;
    --white: #FFFFFF;
    --black: #000;
    --black-md: #343536;
    --gray-md: #E4EBEF;
    --gray-lt: #EEF4F9;
    --aecon-red: #da1a32;
    --text-color: #343536;
    --foreground-light: #6A7682;
    --navy: #091F43;
    --elevated: #eef4f9;
}