
.footer-main{border-top: 2px solid var(--gray-md); background: var(--gray-lt);} 
.footer-desc{font-family: VisbyCF; font-size: 18px; line-height: 1.56; margin-bottom: 56px;}

ul.social-icons{gap: 16px; margin: 0; width: auto;}
ul.social-icons > li{margin: 0;}
ul.social-icons > li::before{display: none;}
ul.social-icons > li > a{width: 48px; height: 48px; padding: 8px 12px; background-color: var(--white); margin-bottom: 0; border-radius: 12px;}
ul.social-icons > li > a span{font-size: 20px; color: var(--dark-green); transition: all 0.5s ease;}
ul.social-icons > li > a:hover{background-color: var(--accent); color: var(--white);}
ul.social-icons > li > a:hover span{color: var(--white);}
ul.footer-address > li a:hover{color: var(--accent);}

ul.footer-links > li > a:hover{color: var(--navy);}

.copyrights-main{padding: 40px 0 81px; justify-content: space-between;}
.copyrights-main::before{content: ""; width: 100%; height: 2px; top: 0; left: 0; position: absolute; display: block; background-image: linear-gradient(to right,var(--aecon-red) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-size: 8px 2px; background-repeat: repeat-x;}
.copyright-text{font-size: 12px; line-height: 20px; color: rgba(9, 31, 67, 0.5);}
ul.copyright-links{width: auto; margin: 0; gap: 20px;}
ul.copyright-links > li{margin: 0; font-size: 12px; line-height: 20px;}
ul.copyright-links > li::before{display: none;}
ul.copyright-links > li > a{color: rgba(9, 31, 67, 0.5)}
ul.copyright-links > li > a:hover{color: var(--navy);}

@media screen and (min-width: 1024px) {
    .footer{gap: 128px; padding: 78px 0;}
    .footer-lt{flex: 0 0 576px;}
    .footer-rt{flex: 0 0 calc(100% - 704px);}
    .footer-logo{max-width: 385px; margin: 9px 0 62px 0;}
  
    ul.footer-address{margin: 0 0 55px 0;}
    ul.footer-address > li{font-size: 20px; font-weight: 800; line-height: 24px; margin-bottom: 16px; font-family: 'VisbyCF', sans-serif;}
    ul.footer-address > li:last-child{margin-bottom: 0;}
    ul.footer-address > li a{gap: 8px; align-items: center; color: var(--dark-green);}
    ul.footer-address > li > a > span:nth-child(2){color: var(--accent);}
    .footer-btns{gap: 20px;}

    ul.footer-title{margin: 0; gap: 0 50px; width: auto;}
    ul.footer-title > li::before{display: none;}
    ul.footer-title > li{font-size: 20px; font-weight: 800; font-family: 'VisbyCF', sans-serif; line-height: 24px; color: var(--dark-green);}



    .social-media{justify-content: space-between; align-items: center; margin-bottom: 72px;}


    .footer-nav{gap: 40px;}
    .footer-list{flex: 0 0 165px;}
    .footer-list span{font-size: 20px; font-weight: 800; line-height: 24px; color: var(--dark-green); font-family: 'VisbyCF', sans-serif; margin-bottom: 17px; display: block;}
    ul.footer-links{margin: 0;}
    ul.footer-links > li::before{display: none;}
    ul.footer-links > li{font-size: 16px; letter-spacing: -0.32px; line-height: 20px; margin-bottom: 21px;}
    ul.footer-links > li > a{color: var(--foreground-light);}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .footer{gap: 40px;}
    .footer-lt{flex: 0 0 400px;}
    .footer-rt{flex: 0 0 calc(100% - 440px);}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .footer{padding: 70px 0 40px;}
    .footer-logo{margin-bottom: 42px;}
    .footer-desc{margin-bottom: 35px;}

    .footer-lt{margin-bottom: 36px;}
    ul.footer-address{display: flex; margin: 0 0 36px 0; gap: 36px;}
    ul.footer-address > li{font-size: 18px; font-weight: 800; line-height: 18px; font-family: 'VisbyCF', sans-serif; padding: 14px 16px; border-radius: 12px; border: solid 1px var(--foreground-light); margin-bottom: 0; width: 100%;}
    ul.footer-address > li a{color: var(--dark-green); justify-content: center; gap: 13px; align-items: center;}
    ul.footer-address > li > a > span.fa-regular{font-size: 14px;}
    .footer-btns{gap: 36px;}
    .footer-btns .btn{width: 100%; text-align: center;}

    .footer-rt{width: 100%;}
    ul.social-icons{gap: 31px; width: 100%; justify-content: center;}
    ul.social-icons > li > a{width: 64px; height: 64px;}
    ul.social-icons > li > a span{font-size: 28px;}

    .copyrights-main{padding: 40px 0 65px; justify-content: center;}
    .copyright-text{text-align: center; margin-bottom: 10px; width: 100%;}
    ul.copyright-links{gap: 47px;}
    .btn.sm-btn{font-size: 18px; padding: 15px 16px 13px;}
}