
header.header-main{top: 0; left: 0; right: 0; position: fixed; z-index: 800; background-color: var(--white);}
header.fixed-header{position: fixed;}
.header{gap: 2rem; padding: 16px 0;}
.logo{flex: 0 0 261px;}
ul.main-menu{margin: 0; gap: 0 2rem; flex: 1;}
ul.main-menu > li{margin: 0;}
ul.main-menu > li::before{display: none;}
ul.main-menu > li > a{color: var(--foreground-light); display: block; font-size: 15px; line-height: 20px; letter-spacing: 0.3px;}
ul.main-menu > li > a:hover{color: var(--navy);}

.humburger-btn{width: 40px; height: 40px; border-radius: 12px; border: solid 1px #6a7682; cursor: pointer; display: block; position: relative;}
.humburger-btn span { width:100%; height:3px; left:0; right:0; max-width: 18px; margin:0 auto; opacity:1; transition:.45s ease-in-out; background-color:var(--aecon-red); display:block; position:absolute }
.humburger-btn span:first-child { top: 12px }
.humburger-btn span:nth-child(2) { top: 19px }
.humburger-btn span:nth-child(3) { top:26px; }
.humburger-btn.open span:first-child { transform:scale(0) }
.humburger-btn.open span:nth-child(2) { transform:rotate(45deg) }
.humburger-btn.open span:nth-child(3) { transform:rotate(-45deg) }

/* media css starts here */
@media screen and (min-width: 1024px) {
    .site-main-cover{padding-top: 88px;}
    .header-right{flex: 1; max-width: 250px; gap: 12px; align-items: center; justify-content: flex-end;}
}
















