
header.header-main{top: 0; left: 0; right: 0; position: fixed; z-index: 800; background-color: var(--white); border-bottom: 1px solid var(--elevated);}

ul.main-menu{margin: 0;}
ul.main-menu > li{margin: 0;}
ul.main-menu > li::before{display: none;}
ul.main-menu > li > a{color: var(--foreground-light); display: block; font-weight: 700; font-family: 'VisbyCF', sans-serif; font-size: 15px; line-height: 20px; letter-spacing: 0.3px;}
ul.main-menu > li > a:hover{color: var(--navy);}


.humburger-btn{width: 40px; height: 40px; border-radius: 12px; border: solid 1px #6a7682; cursor: pointer; display: block; position: relative;}
.humburger-btn span { width:100%; height: 2.5px; left: 0; right:0; max-width: 18px; margin:0 auto; opacity:1; transition:.45s ease-in-out; background-color:var(--aecon-red); display:block; position:absolute }
.humburger-btn span:first-child { top: 11px }
.humburger-btn span:nth-child(2) { top: 17px }
.humburger-btn span:nth-child(3) { top: 23px; }
.humburger-btn.open span:first-child { transform:scale(0) }
.humburger-btn.open span:nth-child(2) { transform:rotate(45deg) }
.humburger-btn.open span:nth-child(3) { transform:rotate(-45deg) }

li.no-link > a{pointer-events: none;}

ul.flyout-address::before{content: ""; width: 100%; height: 2px; top: 0; left: 0; position: absolute; display: block; background-image: linear-gradient(to right, rgba(113, 163, 65, 0.5) 25%,rgba(255,255,255,0) 0); background-position: bottom; background-size: 8px 2px; background-repeat: repeat-x;}

/* media css starts here */
@media screen and (min-width: 1024px) {
    body.home header.header-main{position: relative;}
    body.home header.fixed-header{position: relative;}

    .header{gap: 2rem; padding: 16px 0; min-height: 88px;}
    .logo{flex: 0 0 293px; padding-right: 2rem; position: relative;}
    .logo a img{max-width: 261px;}
    .logo::after{width: 1px; height: 56px; right: 0; top: -12px; opacity: 0.25; position: absolute; background-color: var(--foreground-light); content: ""; display: block;}
    .header-right{flex: 1; max-width: 251px; gap: 12px; align-items: center; justify-content: flex-end;}
    .contact_btn::after{content: "\f0d7"; top: calc(50% + 0px);}
    .contact_btn.open::after{ content: "\f0d8"; top: calc(50% + 2px);}
    .site-main-cover{padding-top: 88px;}
    body.home .site-main-cover{padding-top: 0;}
    ul.main-menu{gap: 0 2rem; flex: 1;}
    .contact_btn_menu{display: none; top: 100%; left: 0; padding: 41px 16px 16px; min-width: 296px; background-color: var(--white); border-radius: 0px 0px 24px 24px; }
    .call-us-btns{gap: 16px; margin-bottom: 16px;}
    .call-us-btns .button, .contact_btn_menu .button{font-size: 16px; line-height: 16px; flex: 1; padding: 11px 16px 13px; gap: 8px; justify-content: center;}
    .call-us-btns .button span, .contact_btn_menu .button span{font-size: 14px; color: var(--accent);}
    .call-us-btns .button::after, .contact_btn_menu .button::after{display: none;}
    .contact_btn_menu .btn-light-green{width: 100%;}

    .flyout-overlay{padding: 40px; max-width: 390px; width: 100%; height: 100%; min-height: 100vh; top: 0; right: 0; transform: translateX(100%); position: fixed; z-index: 800; overflow-y: auto; -webkit-overflow-scrolling: touch; transition: transform 0.5s ease;}
    .flyout-overlay.open{transform: translateX(0);}
    .flyout-close{width: 40px; height: 40px; margin-bottom: 32px; color: var(--navy); cursor: pointer;}
    ul.flyout-menu{margin: 0;}
    ul.flyout-menu > li{margin: 0 0 32px;}
    ul.flyout-menu > li::before{display: none;}
    ul.flyout-menu > li > a{font-size: 20px; line-height: 24px; color: var(--navy); display: block; font-weight: 800; font-family: 'VisbyCF', sans-serif;}
    ul.flyout-menu > li > a:hover{color: var(--accent);}
    ul.flyout-menu > li > ul{margin: 0; padding: 14px 0 0;}
    ul.flyout-menu > li > ul > li{margin: 0 0 14px;}
    ul.flyout-menu > li > ul > li::before{display: none;}
    ul.flyout-menu > li > ul > li > a{font-size: 16px; line-height: 20px; letter-spacing: -0.32px; color: var(--foreground-light);}
    ul.flyout-menu > li > ul > li > a:hover{color: var(--navy);}

    ul.flyout-address{margin: 0; padding-top: 44px; margin-top: 165px;}
    ul.flyout-address > li{margin: 0 0 24px;}
    ul.flyout-address > li::before{display: none;}
    ul.flyout-address > li > a{font-size: 20px; line-height: 24px; color: var(--navy); display: block; font-weight: 800; font-family: 'VisbyCF', sans-serif;}
    ul.flyout-address > li > a span{ color: var(--accent); margin-right: 8px;}
}
@media screen and (max-width: 1023px) and (min-width: 200px){
    ul.main-menu{display: none;}
}















